<div class="container">
  <h1>New Cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add a Cocktail", class: "btn btn-primary" %>
    <%= link_to 'Home', cocktails_path, class: "btn btn-primary" %>
  <% end %>
</div>

<p>Find me in app/views/cocktails/new.html.erb</p>
